@{
    ViewBag.Title = "About JB-Dealers";
}
<h3>@ViewBag.Title</h3>
<h2>@ViewBag.Message</h2>

<p>Recently launched, JB-Dealers introduces a 10 year, 125,000 mile warranty which provides each customer with more coverage than ever before. Other perks include 10 year towing, rental car, and trip disruption reimbursement, as well as State Inspections, 10% off all service maintenance, free loaner cars, and one year of free car washes!</p>
<p>With the goal of living up to "a higher standard of pre-owned," JB-Dealers has been designed to create a unique and advantageous experience for every customer of pre-owned vehicles. In doing so, we've maintained a positive reputation in the local communities by treating our customers with the utmost respect and a focus on overall satisfaction.</p>
<p>JB-Dealers is an extension of these values, and marks the effort of a continued focus on revolutionizing the car-buying experience from a dedicated dealership that has been in the industry for nearly 40 years. Take the worry out of purchasing a pre-owned vehicle with free Carfax reports on each pre-owned vehicle, and one of the best warranties available post-purchase.</p>
<p>The average industry warranty is 7 years or 100,000 miles, but the JB-Dealers Warranty surpasses that by three years and 25,000 miles ensuring a peace of mind when getting into your next vehicle. Our no-pressure, transparent sales process will put you at ease, while our 10 year, 125,000 mile warranty will ensure that you leave with confidence in your pre-owned purchase.</p>
<p>We are proud to serve our local communities by elevating the customer experience and ensuring an easy, seamless car buying experience. The Best Selection of Used Cars is Right Here at JB-Dealers.</p>
<p>At JB-Dealers we're dedicated to bringing you a higher standard of pre-owned cars. This standard of quality shines through in every aspect of our dealership, from our extensive inventory, to our state-of-the-art service center, to our financial gurus who work hard to get you the best deals.</p>
<p>Our used car inventory is one of the largest. That selection means you can find the vehicle that is perfect for you, and not settle for one just because it's available.</p>
<p>If you live in the Connecticut, NY area, then JB-Dealers is your number one resource for used cars, trucks, and SUVs. Hondas are well-respected for being reliable, fuel efficient, and holding their resale value well, which makes them a great investment. Whether you're looking to own an award-winning Accord, a reliable and affordable Civic, or a spacious, family-friendly CR-V, Odyssey or Pilot, we know we'll have the perfect ride.</p>
<p>You'll know when you've found "the one." Something about the way the headlights sparkle in the sunlight takes your breath away. The curve of the hood, the way the cabin seems to invite you in, and begs you never to leave. When it's time to take home your automotive soulmate, our used car loan center will help you get the best rates on a loan, without the hassle of going bank to bank.</p>
<p>Our dedication to great customer service doesn't end once you've driven happily off our lot. To keep your used car running like new, let our skilled team of highly trained technicians provide regular maintenance at our service center. We can keep your fluids topped off, change tires, inspect that strange noise you've been hearing, or anything else that might come up in the lifetime of your vehicle.</p>
<p>Has something gotten worn out since last we've seen you, or do you just want to add a new flair to your ride? You can order parts and accessories at our parts center, and we'll even help install them, if you'd like.</p>
<p class="active">We proudly serve customers all around the Connecticut, NY area, including Long Island. Our showroom isn't complete without you, so please give us a visit at one of our <a href="/Home/Contact" class="button">locations</a>. Our sales representatives will be here to greet you, and help you find the car you're looking for. <a href="/Home/Contact" class="button">Contact</a> us for more information of vehicels and all other details.</p>

<div>
    @Html.ActionLink("Home", "Index") || @Html.ActionLink("Contact", "Contact")
</div>